<div class="wrap">
  <form [formGroup]="form" class="container">

    <label>
      <span class="outSpan"><span *ngIf="hasError('Email','required')" class="asteriks">*</span>E-mail</span>
      <input formControlName="Email" type="text">
    </label>

    <div formGroupName="password">
      <label>
        <span class="outSpan"><span *ngIf="hasPassError('password','required') || ifequals()" class="asteriks">*</span>Password</span>
        <input formControlName="password" type="password">
      </label>
      <label>
          <span class="outSpan"><span *ngIf="hasPassError('confirmPassword','required') || ifequals()" class="asteriks">*</span>Confirm Password</span>
        <input formControlName="confirmPassword" type="password">
      </label>
    </div>


    <label>
      <span class="outSpan"><span *ngIf="hasError('nickname','required')" class="asteriks">*</span>Nickname</span>
      <input formControlName="nickname"  type="text">
    </label>

    <label>
      <span class="outSpan"><span *ngIf="hasError('phone','required')" class="asteriks">*</span>Phone Number</span>
      <input formControlName="phone" type="text">
    </label>
  
    <label>
    <span class="outSpan"><span *ngIf="hasError('website','required') "  class="asteriks">*</span>Website</span>
    <input formControlName="website"  type="url" placeholder="Website">
  </label>
<label class="checkLabel">
  <input class="check" formControlName="checkBox" type="checkbox"> 
  <span class="agreement">I have read the agreement</span>
</label>

  <button  
  [disabled]="equals()"
  (click)="onSubmit()" type="submit" class="but">{{buttonLabel}}</button>
  </form>
  <table>
    <tr>
      <th>Email</th>
      <th>Password</th>
      <th>ConfirmPassword</th>
      <th>Nickname</th>
      <th>Phone</th>
      <th>Website</th>
      <th>actions</th>
    </tr>
    <tr *ngFor="let obj of arrayOfObject; let i = index">
      <!-- MAIL IYO -->
      <td >{{obj.Email}} </td>
      <td >{{obj.password}}</td>
      <td >{{obj.comfirmPass}}</td>
      <td >{{obj.nickname}}</td>
      <td >{{obj.phone}}</td>
      <td ><span>{{obj.website}}</span></td>
      <td class="actions">
        <button (click)="edit(i)" class="buttOn">edit</button> 
        <button (click)="deleteOject()" class="buttOn">delete</button>
      </td>

        <div *ngIf="deletionPopup" class="popup">
          <span>This action will remove a user with this email: {{obj.Email}}</span>
          <div class="innerDiv">
            <button (click)="sureDEL()">delete</button>
            <button (click)="cancel()">cancel</button>
          </div>
        </div>

        <div *ngIf="sure" class="popup">
        <span>are you sure?</span>
        <div class="innerDiv">
          <button (click)="del(i)">yes</button>
          <button (click)="cancel()">no</button>
        </div>
        </div>
    </tr>
  </table>
</div>